@font-face {
  font-family: 'Italiana';
  src: url('../assets/fonts/Italiana-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jersey';
  src: url('../assets/fonts/Jersey15-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../assets/fonts/JetBrainsMono.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../assets/fonts/JetBrainsMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('/assets/img/background.jpg');
  background-size: 100%;
  min-height: 100vh;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* заставляет контент занимать всё доступное пространство */
}